/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);



*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; }




a {
	color: #c0392b;
	text-decoration: none;
}

a:hover,
a:active {
	color: #333;
}







.column {
	float: left;
	width: 25%;
	padding: 0 3em;
	min-height: 300px;
	position: relative;
	font-size: 9px;
}

	box-shadow: -1px 0 0 rgba(0,0,0,0.1);
}










.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}




button {
	border: none;
	padding: 3px 0px;
	background: #1EA4BB;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 0px 0px;
	border-radius: 3px;
}

button:hover {
	background: #3F7094;
	font-size: 9px;
}

@media screen and (max-width: 46.0625em) {
	.column {
		width: 100%;
		min-width: auto;
		min-height: auto;
		padding: 1em; 
	}

	.column p {
		text-align: left;
		font-size: 1em;
	}

	.column:nth-child(2) {
		box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
	}
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}
